<tr>
  <td><%= review.movie.title %></td>
  <td><%= review.reviewer_name %></td>
  <td><%= review.title %></td>
  <td><%= review.review_text %></td>
  <td><%= review.created_at %></td>
  <td><%= link_to 'Delete', review, method: :delete %></td>
</tr>